@* <div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid  computer only">
            <div class="row doubling four column ">
                <div class="column">
                    <div class="icon_place">
                        <i class="large shipping icon floated center"></i>
                    </div>
                    <div class="text_place">
                        <h3>Frete Grátis</h3>
                        <p>Veja nossas condições para frete grátis.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="credit card alternative icon floated center"></i>
                    </div>
                    <div class="text_place">
                        <h3>Parcele suas compras</h3>
                        <p>Parcele em até 6x sem juros suas compras no site.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="rocket icon floated center"></i>
                    </div>
                    <div class="text_place">
                        <h3>Entrega Expressa</h3>
                        <p>Recebe suas compras mais rápido em até 3 dias*.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="lock icon floated center"></i>
                    </div>
                    <div class="text_place">
                        <h3>Compra Segura</h3>
                        <p>Loja com SSL e sistemas de proteção de suas informações.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid  computer only">
            <div class="row doubling three column">
                <div class="column">
                    <p>
                    <i class="large truck icon"></i>
                    <strong> Frete Grátis </strong> Veja nossas condições especiais.
                    </p>
                </div>
                <div class="column">
                    <p>
                    <i class="large check icon"></i>
                    <strong> Parcele suas compras</strong> em até 6x sem juros.
                    </p>
                </div>
                <div class="column">
                    <p>
                    <i class="large diamond icon"></i>
                    <strong> Compra Segura</strong> protegida de ponta a ponta.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

